body {
  font-family: "Manrope", sans-serif;
  background-image: url("./images/bg-pattern.svg");
  background-size: 300%;
  background-repeat: no-repeat;
  background-color: hsl(230, 100%, 90%);
}

.headline-container {
  height: 12rem;
  width: 80%;

  background-image: url("./images/pattern-circles.svg");
  background-size: 50% auto;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;
  margin: auto;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: hsl(0, 0%, 100%);
  width: 90%;
  margin: auto;
}

h1 {
  font-weight: 800;
  font-size: larger;
  padding-top: 3rem;
  color: hsl(227, 35%, 25%);
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: hsl(225, 20%, 60%);
}

.details-headline {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05rem;
}

.slider-container {
  text-align: center;
  width: 90%;
  margin-bottom: 2rem;
}

.price-duration-container {
  display: flex;
  align-items: center;
}

.price-duration-container > * {
  margin: 0;
}

.price {
  font-size: 2rem;
  font-weight: 800;
  color: hsl(227, 35%, 25%);
  margin-right: 0.5rem;
}

$billingContainerSpacing: 3px;
.billing-container {
  width: 90%;
  max-width: 450px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1.5rem;
  //https://stackoverflow.com/questions/20626685/better-way-to-set-distance-between-flexbox-items
  padding: $billingContainerSpacing; /* this */
}

//address direct children of billing-container p and div. In case
//other elements are added to the container, the code below might
//have to be adapted
.billing-container > p,
.billing-container > div {
  margin: $billingContainerSpacing; /* and that, will result in a 10px gap */
}

.info-text {
  font-size: small;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

//set margin to 0 only for info-text within discount-field
.discount-field .info-text {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  color: hsl(15, 100%, 70%);
  font-weight: 800;
}

.discount-field {
  background-color: hsl(14, 92%, 95%);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50px;
}

hr {
  width: 98%;
  margin-bottom: 2rem;
}

.tick {
  margin-right: 5px;
}

.btn-cta {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  color: hsl(226, 100%, 87%);
  background-color: hsl(227, 35%, 25%);
  width: 50%;
  max-width: 250px;
  height: 2.5rem;
  border: none;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border-radius: 50px;
}

button {
  font-family: "Manrope", sans-serif;
}

.attribution {
  margin-top: 100px;
}

/* ################################################### */
/* ################################################### */
/* ############# TOGGLER START ####################### */
/* ################################################### */
/* ################################################### */
$toggleWidth: 45px;
$toggleHeight: 24px;
$positionPadding: 4px;
$circleColor: white;
$circleDiameter: $toggleHeight - (2 * $positionPadding);
$toggleBackground1: hsl(223, 50%, 87%);
$toggleBackground2: #2196f3;

/* The switch - the box around the slider. 
 Like literally the whole thing. Within this 
 switch there is the rounded background of the 
 slider and also the circle within it. */
.switch {
  position: relative;
  display: inline-block;
  width: $toggleWidth;
  height: $toggleHeight;
  /* background-color: green;  */
}

/* Hide default HTML checkbox 
   By positioning the checkbox within the label component, 
   any clicks on the surrounding label will be accepted by 
   the checkbox*/
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  /* this is the background (the one with the color). 
     In case an element with absolute position is nested 
     in an element with relative position, the values 
     top left right bottom determine the distance from the 
     border of the relative positioned element   */
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: $toggleBackground1;
  /*transition duration for changing the color  */
  transition: 0.4s;
}

/* This is the actual circle. */
.slider:before {
  content: "";
  position: absolute;
  /* height of switch (34px) - left (4px) - right (4px) */
  left: $positionPadding;
  bottom: $positionPadding;
  height: $circleDiameter;
  width: $circleDiameter;
  background-color: $circleColor;
  /* transition duration for the circle going from one side 
     to the other  */
  transition: 0.4s;
}

input:checked + .slider {
  /* background color change depending on checked state */
  background-color: $toggleBackground2;
}

input:focus + .slider {
  /* here I currently do not see what this does... */
  box-shadow: 0 0 1px #2196f3;
}

//The plus sign selector selects elements that are placed immediately after
//the specified element but not inside the particular elements.
input:checked + .slider:before {
  /* 60 - 26 - 4 - 4  */
  //   transform: translateX(26px);
  transform: translateX(
    $toggleWidth - $circleDiameter - (2 * $positionPadding)
  );
}

/* Rounded sliders. The selector is logical AND for the 
   classes slider and round.  */
.slider.round {
  /* this makes the slider background with rounded corners 
     Rounded corners which equal the height of the element 
     make a perfect circle */
  border-radius: $toggleHeight;
}

/* we added previously content: "" to the css selector 
   .slider:before. All styling which is added to a ::before 
   selector will be applied to the value which was specified 
   via content 
   ":"  - pseudo class 
   "::" - pseudo element */
.slider.round::before {
  /* this is the actual circle */
  border-radius: 50%;
}
/* ################################################### */
/* ################################################### */
/* ############# TOGGLER END ######################### */
/* ################################################### */
/* ################################################### */

/* ################################################### */
/* ################################################### */
/* ############# SLIDER START ######################## */
/* ################################################### */
/* ################################################### */

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* Removes the blue border. You should probably do some 
  kind of focus styling for accessibility reasons though. */
input[type="range"]:focus {
  outline: none;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  //   -webkit-appearance: none;
  height: 36px;
  width: 36px;
  border-radius: 36px;
  cursor: pointer;
  background-color: hsl(174, 86%, 45%);
  background-image: url("./images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 8px 10px hsl(174, 86%, 75%);
  margin-top: -14px; //position the thumb vertically
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 9px;
  cursor: pointer;
  border-radius: 9px;
  //   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  // background: hsl(224, 65%, 95%);
  // background: red;
  // background-color: red;
}

// https://codepen.io/ryanttb/pen/fHyEJ
//https://stackoverflow.com/questions/28283332/style-lower-and-upper-fill-in-html5-range-input
//https://stackoverflow.com/questions/18389224/how-to-style-html5-range-input-to-have-different-color-before-and-after-slider
// input[type="range"]:focus::-webkit-slider-runnable-track {
//   //   background: hsl(224, 65%, 95%);
//   //   background: red;
// }

/* ################################################### */
/* ################################################### */
/* ############# SLIDER END ########################## */
/* ################################################### */
/* ################################################### */
